<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756787175665-50daunkg97ud0b2k6cm43c9ip3hr5c7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756787175665-50daunkg97ud0b2k6cm43c9ip3hr5c7s</string>
	<key>API_KEY</key>
	<string>AIzaSyA5UqjlqbTzNbip7tw-22rGbUH9JXYjrfo</string>
	<key>GCM_SENDER_ID</key>
	<string>756787175665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dx137.OrderNow</string>
	<key>PROJECT_ID</key>
	<string>iosd005</string>
	<key>STORAGE_BUCKET</key>
	<string>iosd005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756787175665:ios:ae6d0ceecbb2bf38d14950</string>
	<key>DATABASE_URL</key>
	<string>https://iosd005.firebaseio.com</string>
</dict>
</plist>